@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Montserrat:wght@600&family=MuseoModerno:wght@700&family=Poppins:wght@300;700&family=Tilt+Warp&family=Ubuntu:ital,wght@1,300&display=swap');
p {
    font-size: 28px;
    font-family: 'Asap', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #0a2ff1;
    text-align: center;
}


.container {
    display: inline-block;
    margin-left: 8vw;


}
.img  {
    width:100px; 
    vertical-align: middle;
    margin-left: 30px;

}
