
* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Montserrat:wght@600&family=MuseoModerno:wght@700&family=Poppins:wght@700&family=Tilt+Warp&family=Ubuntu:ital,wght@1,300&display=swap');
.h1 {
    font-family: 'Poppins', Arial, Helvetica;
    color: #0a2ff1;
    font-size: 44.25px;
    text-align: left;
    margin-left: 20px;

}

.span {
    background-color: #3ffff3;
}

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Montserrat:wght@600&family=MuseoModerno:wght@700&family=Poppins:wght@500&family=Tilt+Warp&family=Ubuntu:ital,wght@1,300&display=swap');
.p_container {
    margin: 20px;
}
.p {
    font-family: 'Asap', sans-serif,Arial;
    color: #0a2ff1;
    font-size: 24.25px;
    text-align: left;
}

.img_container{
    padding: 0;
    margin: 0;
}
.img_fondo {
    height: 380px;
    width: 300px;
    margin-top: 2vh;
    margin-left:1vw ;

}
.img_celu {
    height: 420px;   
    width: 280px;
    margin-top: -80vh;
    margin-left: 2vw;

}